<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport", initial-scale="1.0">
    <title>ECG Plot</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        function updateFrame(direction) {
            var lastSampFromInput = document.getElementById('last_sampfrom');
            var lastSampToInput = document.getElementById('last_sampto');
            var newSampFrom = document.getElementById('sampfrom');
            var newSampTo = document.getElementById('sampto');
            var increment = 1080;

            console.log(lastSampFromInput.value);
            console.log(lastSampToInput.value);

            if (direction === 'next') {
                newSampFrom.value = +lastSampFromInput.value + increment;
                newSampTo.value = +lastSampToInput.value + increment;
                console.log(newSampFrom.value);
                console.log(newSampTo.value);
                document.forms["ecgForm"].submit();
            } else if (direction === 'previous' && lastSampFromInput.value > 0) {
                newSampFrom.value = +lastSampFromInput.value - increment;
                newSampTo.value = +lastSampToInput.value - increment;
                console.log(newSampFrom.value);
                console.log(newSampTo.value);
                document.forms["ecgForm"].submit();
            }
        }
    </script>
</head>

<body>
    <h1>MIT-BIH Arrhyhtmia Database ECG Plot</h1>

    <form method="post" id="ecgForm">
        <input type="hidden" id="last_sampfrom" name="last_sampfrom" value="{{ last_sampfrom }}">
        <input type="hidden" id="last_sampto" name="last_sampto" value="{{ last_sampto }}">
        <input type="hidden" id="sampfrom" name="sampfrom" value="0">
        <input type="hidden" id="sampto" name="sampto" value="1081">
        
        <label for="selected_number">Record number:</label>
        <select id="selected_number" name="selected_number">
            {% for number in available_numbers %}
                <option value="{{ number }}" {% if selected_number == number %} selected {% endif %}>{{ number }}</option>
            {% endfor %}

        </select> 
        
        <br>

        <label for="selected_signal">Lead:</label>
        <select id="selected_signal" name="selected_signal">
            {% for signal in available_signals %}
            <option value="{{ signal }}" {% if selected_signal == signal %} selected {% endif %}>{{ signal }}</option>
            {% endfor %}
        </select><br>

        <button type="submit">Update</button>
        <br> <br> <br>
        <button type="button" onclick="updateFrame('previous')">Previous frame</button>
        <button type="button" onclick="updateFrame('next')">Next frame</button>

    </form>


    <br>
    <!-- Plotly figure will be inserted here -->
    <center>
    {{plot_html | safe}}
    </center>
    
</body>
</html>

